/* START */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;

  min-height: 100vh;

  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1;

  text-rendering: optimizeSpeed;

  color: hsl(224, 23%, 55%);
  background-color: hsl(225, 100%, 94%);

  display: flex;
  align-items: center;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* START */

/* IMAGE */
.background-img {
  scale: 1.1;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-card {
  max-width: calc(400rem / 16);

  background-color: #fff;

  border-radius: 12px;
  overflow: hidden;
}

/* TEXT */
.card-content {
  padding: calc(36rem / 16) calc(40rem / 16);
  text-align: center;
}

.card-header {
  margin-bottom: calc(20rem / 16);

  font-size: calc(24rem / 16);
  font-weight: 900;

  color: hsl(223, 47%, 23%);
}

.card-text {
  margin-bottom: calc(20rem / 16);
  padding: 0 calc(30rem / 16);

  font-size: calc(14rem / 16);
  line-height: 1.6;
}

/* ANNUAL BOX */
.annual-plan-box {
  margin-bottom: calc(32rem / 16);
  padding: calc(20rem / 16) calc(12rem / 16);

  background-color: hsl(225, 100%, 98%);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.left img {
  height: calc(42rem / 16);
  width: calc(42rem / 16);
}

.plan-flex {
  font-size: calc(14rem / 16);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plan-flex p:first-child {
  font-weight: 900;

  color: hsl(223, 47%, 23%);
}

button {
  background: none;
  cursor: pointer;

  display: block;
}

.btn-change {
  font-size: calc(12rem / 16);
  text-decoration: underline;
}

.btn-change {
  font-size: calc(12rem / 16);
  text-decoration: underline;

  transition: all 0.4s;
}

.btn-change:hover {
  color: hsla(245, 75%, 52%, 0.855);
}

.btn {
  font-size: calc(13rem / 16);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.btn-proceed {
  padding: calc(16rem / 16) 0;
  width: 100%;

  font-weight: 700;

  color: hsl(225, 100%, 98%);
  background-color: hsl(245, 75%, 52%);
  border-radius: 8px;
  box-shadow: 0 0.5rem 2rem hsla(245, 75%, 52%, 0.405);

  transition: all 0.4s;
}

.btn-proceed:hover {
  background-color: hsla(245, 75%, 52%, 0.771);
}

.btn-cancel {
  margin-bottom: calc(8rem / 16);
  font-weight: 700;

  color: hsl(224, 23%, 55%);
}

.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
